body {
  background-color: #ccc;
}

form {
  margin-top: 30px;
  margin-bottom: 50px;
}

input {
  margin-bottom: 20px;
}

button {
  margin: 10px 0px;
  padding: 8px 20px;
  border-radius: 3px;
}

table,
th,
td {
  border: 1px solid #000;
}

table {
  border-collapse: collapse;
  width: 80%;
}

td {
  padding: 7px 5px;
}